{% extends 'service/base.html' %}
{% load static %}

{% block content %}
<div class="container put-footer-bottom">
    {% include 'service/admin_panel_templates/includes/admin_tab.html' %}
    <div class="container col-xl-5 text-center pt-5 pb-5">
        <img src="{% static 'images/abort1.png' %}" class="d-block mx-auto prinobot-img">
        <h5 class="fw-light">Narxni hisoblashda zarur bo'lgan boshqa narxlar yoki xarajatlar kiritilmagan</h5>
        <h5 class="fw-light mt-4">So'rovingiz rad etilmasligi uchun quyidagilarga amal qiling:</h5>
        <h6 class="fw-light mt-3">1. A4 formatdagi oq-qora rangli kitobning bir beti uchun narxni hisoblashda:</h6>
        <ul class="ul-middle">
            <li class="text-start">
                <h6>A4 format uchun qora rang narxini</h6>
            </li>
            <li class="text-start">
                <h6>A4 formatdagi va kitobga ishlatiladigan qog'oz turi bilan bir xil turdagi qog'oz narxini</h6>
            </li>
            <li class="text-start">
                <h6>Yetkazib berish xarajatini</h6>
            </li>
            <li class="text-start">
                <h6>Bir kitob uchun belgilangan elektr energiyasi xarajatini</h6>
            </li>
            <li class="text-start">
                <h6>Printer uchun ketadigan xarajatni</h6>
            </li>
        </ul>
        <h6 class="fw-light mt-3">2. A4 formatdagi rangli kitobning bir beti uchun narxni hisoblashda:</h6>
        <ul class="ul-middle">
            <li class="text-start">
                <h6>A4 format uchun rang narxini</h6>
            </li>
            <li class="text-start">
                <h6>A4 formatdagi va kitobga ishlatiladigan qog'oz turi bilan bir xil turdagi qog'oz narxini</h6>
            </li>
            <li class="text-start">
                <h6>Yetkazib berish xarajatini</h6>
            </li>
            <li class="text-start">
                <h6>Bir kitob uchun belgilangan elektr energiyasi xarajatini</h6>
            </li>
            <li class="text-start">
                <h6>Printer uchun ketadigan xarajatni</h6>
            </li>
        </ul>
        <h6 class="fw-light mt-3">3. A5 formatdagi oq-qora rangli kitobning bir beti uchun narxni hisoblashda:</h6>
        <ul class="ul-middle">
            <li class="text-start">
                <h6>A5 format uchun qora rang narxini</h6>
            </li>
            <li class="text-start">
                <h6>A5 formatdagi va kitobga ishlatiladigan qog'oz turi bilan bir xil turdagi qog'oz narxini</h6>
            </li>
            <li class="text-start">
                <h6>Yetkazib berish xarajatini</h6>
            </li>
            <li class="text-start">
                <h6>Bir kitob uchun belgilangan elektr energiyasi xarajatini</h6>
            </li>
            <li class="text-start">
                <h6>Printer uchun ketadigan xarajatni</h6>
            </li>
        </ul>
        <h6 class="fw-light mt-3">4. A5 formatdagi rangli kitobning bir beti uchun narxni hisoblashda:</h6>
        <ul class="ul-middle">
            <li class="text-start">
                <h6>A5 format uchun rang narxini</h6>
            </li>
            <li class="text-start">
                <h6>A5 formatdagi va kitobga ishlatiladigan qog'oz turi bilan bir xil turdagi qog'oz narxini</h6>
            </li>
            <li class="text-start">
                <h6>Yetkazib berish xarajatini</h6>
            </li>
            <li class="text-start">
                <h6>Bir kitob uchun belgilangan elektr energiyasi xarajatini</h6>
            </li>
            <li class="text-start">
                <h6>Printer uchun ketadigan xarajatni</h6>
            </li>
        </ul>
        <h6 class="fw-light">kiritganingizga va sanalar mos tushishiga ishonch hosil qiling.</h6>
        <a class="btn btn-warning fw-light mt-4" href="{% url 'pricing' %}">Orqaga qaytish</a>
    </div>
</div>
{% endblock content %}