{% extends 'service/base.html' %}
{% load static %}

{% block content %}
<div class="container put-footer-bottom">
    {% include 'service/admin_panel_templates/includes/admin_tab.html' %}
    <div class="container col-xl-8 text-center pt-5 pb-5">
        <img src="{% static 'images/abort1.png' %}" class="d-block mx-auto prinobot-img">
        <h5 class="fw-light">Avval shu printer ma'lumotlardan foydalanib aniqlangan printerni ranggini to'ldirishlar
            va chop etgan betlar soni haqidagi ma'lumotlarini o'chiring</h5>
        <a class="btn btn-warning fw-light mt-4" href="{% url 'printer_info' %}">Orqaga qaytish</a>
    </div>
</div>
{% endblock content %}