{% extends 'service/base.html' %}
{% load static %}

{% block content %}
<div class="container put-footer-bottom">
    {% include 'service/includes/admin_tab.html' %}
    <div class="container col-xl-8 text-center pt-5 pb-5">
        <img src="{% static 'images/attention.jpg' %}" height="150">
        <h4 class="fw-light mt-4">Hisobni o'chirish mumkin emas!</h4>
        <h5 class="fw-light">Avval shu hisobga bog'langan daromadlarni, xarajatlarni
            va pul o'tkazmalarini barchasini o'chiring</h5>
        <a class="btn btn-warning fw-light mt-4" href="{% url 'choose_ex_in' %}">Orqaga qaytish</a>
    </div>
</div>
{% endblock content %}