{% extends 'service/base.html' %}

{% block content %}
<div class="container put-footer-bottom">
    {% include 'service/includes/admin_tab.html' %}
    <div class="container col-xl-12 pt-4 ps-4 pe-4 pb-4" style="max-width: 100%;">
        <h1 class="fw-light">Yangiliklar</h1>
        <h3 class="fw-light">Yangiliklar soni: {{ news_num }}</h3>
    </div>
    <div class="container col-xl-12 table-cont-dec pt-4 ps-5 pe-5 pb-4 mb-5" style="max-width: 100%;">
        {% if news %}
            <div class="row">
               {% for new in news %}
                    <div class="card post-card text-light fw-light">
                        <img src="{{ new.picture_1 }}" class="card-image-top" height="200">
                        <div class="card-body">
                            <h3 class="card-title">
                                {{ new.title }}
                            </h3>
                            <h4 class="fw-light">
                                {{ new.subtitle_1 }}
                            </h4>
                            <p class="fw-light">
                                {{ new.body_1|truncate_20 }}
                            </p>
                            <p class="fw-light">
                                {{ new.date_added|date:'d-m-Y H:i' }}<br>
                                Nashriyotchi - {{ new.publisher }}
                            </p>
                            <a class="fw-light link-hover-2" href="{% url 'edit_news' new.id %}">O'zgartirish</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a class="btn btn-warning fw-light mt-3" href="{% url 'make_news' %}">Nashr etish &raquo;</a>
        {% else %}
            <div class="container text-center mt-4" style="max-width: 100%">
                <h2 class="fw-light pb-4">Yangiliklar mavjud emas...</h2>
                <a class="btn btn-warning fw-light mt-2 mb-2" href="{% url 'make_news' %}">
                    Nashr etish &raquo;
                </a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock content %}