{% extends 'service/base.html' %}
{% load bootstrap5 %}

{% block content %}
<div class="container put-footer-bottom">
    {% include 'service/includes/admin_tab.html' %}
    <div class="container col-xl-12 ps-4 pt-4 pe-4 pb-4" style="max-width: 100%;">
        <h1 class="fw-light">Printerlar haqida ma'lumotlar</h1>
        <h3 class="fw-light">Printerlar soni: {{ printers_num }}</h3>
    </div>
    <div class="container col-xl-12 table-cont-dec text-center pt-4 pb-2" style="max-width: 100%;">
        {% if printer_info %}
            <div class="table-responsive-xl">
                <table class="table table-hover table-striped table-dark fw-light text-light text-center">
                    <thead>
                        <tr>
                            <th scope="col">&numero;</th>
                            <th scope="col">Markasi</th>
                            <th scope="col">Modeli</th>
                            <th scope="col">Sotib olingan sana</th>
                            <th scope="col">Sotib olingandagi holati</th>
                            <th scope="col">Chop etgan betlari soni (boshlang'ich)</th>
                            <th scope="col">Chop etgan betlari soni (ayni damdagi)</th>
                            <th scope="col">Ayni damdagi holati</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for info in printer_info %}
                            <tr class="clickable-row" data-href="{% url 'edit_printer_info' info.id %}">
                                <th scope="col">{{ info.id }}</th>
                                <td>{{ info.brand }}</td>
                                <td>{{ info.model }}</td>
                                <td>{{ info.bought_at|date:'d-m-Y' }}</td>
                                <td>{{ info.status_when_bought }}</td>
                                <td>{{ info.initial_page_count }}</td>
                                <td>{{ info.current_page_count }}</td>
                                <td>{{ info.current_status }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% elif not printer_info %}
            <div class="mt-4 mb-5">
                <h2 class="fw-light">Ma'lumotlar mavjud emas...</h2>
            </div>
        {% endif %}
    </div>
    <div class="container col-xl-12 ps-4 pt-4 pe-4 pb-4" style="max-width: 100%;">
        <h1 class="fw-light">Rang to'ldirishlar va chop etilgan betlar soni haqida ma'lumotlar</h1>
    </div>
    <div class="container col-xl-12 table-cont-dec text-center pt-4 pb-2 mb-3" style="max-width: 100%;">
        {% if printer_refill_page_counts %}
            <div class="table-responsive-xl text-start">
                <table class="table table-hover table-striped table-dark fw-light text-light text-center">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 25%;">Printer</th>
                            <th scope="col" style="width: 25%;">Umumiy rang to'ldirishlar soni</th>
                            <th scope="col" style="width: 25%;">So'nggi marta rang to'ldirilgan sana</th>
                            <th scope="col" style="width: 25%;">Chop etgan betlari soni
                                (so'nggi rang to'ldirish bo'yicha)</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for count in printer_refill_page_counts %}
                            <tr class="clickable-row" data-href="{% url 'edit_refill_page_count' count.id %}">
                                <th scope="col" style="width: 25%;">{{ count.printer }}</th>
                                <td style="width: 25%;">{{ count.total_refill_count }}</td>
                                <td style="width: 25%;">{{ count.last_refill|date:'d-m-Y' }}</td>
                                <td style="width: 25%;">{{ count.printed }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a class="btn btn-warning fw-light mb-2"
                   href="{% url 'add_refill_page_count' %}">
                    Ma'lumot kiritish &raquo;
                </a>
            </div>
        {% elif not printer_page_counts %}
            <div class="mt-4 mb-4">
                <h2 class="fw-light pb-4 mb-3">Ma'lumotlar mavjud emas...</h2>
                <a class="btn btn-warning fw-light"
                   href="{% url 'add_refill_page_count' %}">
                    Ma'lumot kiritish &raquo;
                </a>
            </div>
        {% endif %}
    </div>
    <div class="container col-xl-8 ps-4 pt-4 pb-4">
        <h1 class="fw-light">Ma'lumot kiritish</h1>
    </div>
    <div class="container col-xl-8 form-dec pt-4 pb-4 mb-5">
        <form class="form-control bg-dark text-light fw-light" action="{% url 'check_printer_info' %}"
            novalidate method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-warning fw-light">Kiritish &check;</button>
            {% endbuttons %}
        </form>
    </div>
</div>
<script>
    jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });
</script>
{% endblock content %}