{% extends 'service/base.html' %}
{% load static %}


{% block content %}
<div class="container put-footer-bottom">
    <div class="container" style="padding: 0; margin: 0; height: 100%; max-width: 100%; border: none;">
        <div class="card"
             style="max-width: 100%;
                    max-height: 500px;
                    padding: 0;
                    margin: 0;
                    border-radius: 0rem;
                    border: none;
                    position: relative;
                    background-size: cover;
                    overflow: hidden;
                    background-repeat: no-repeat !important;">
            <img src="{% static 'images/books_mod.jpg' %}"
                 class="image-fluid content"
                 style="border-radius: 0%; display: block; border: none;">
            <a href="{% url 'complain_books' %}">
                <div class="card-img-overlay click-middle">
                    <h1 class="fw-light text-light text-center">
                        Kitoblar haqida shikoyat qilish
                    </h1>
                    <h1 class="display-5 mt-3"
                        style="color: #fff;
                               margin: 0;
                               float: center;">
                        &bigcirc;
                    </h1>
                </div>
            </a>
        </div>
        <div class="row g-0" style="border: none;">
            <div class="col-lg-6" style="border: none; position: relative;">
                <div class="card"
                     style="max-width: 100%;
                            padding: 0;
                            margin: 0;
                            border-radius: 0rem;
                            border: none;">
                    <img src="{% static 'images/website.png' %}"
                         class="image-fluid set-img content"
                         style="border-radius: 0%; display: block; border: none; height: 100%;">
                    <a href="{% url 'complain_site' %}">
                        <div class="card-img-overlay click-left">
                            <h1 class="display-1 ms-0 me-4 mb-3"
                                style="color: #fff;
                                       margin: 0;
                                       float: left;">
                                &leftarrow;
                            </h1>
                            <h1 class="fw-light text-light text-center">
                                Sayt haqida shikoyat qilish
                            </h1>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-6" style="border: none; position: relative;">
                <div class="card"
                     style="max-width: 100%;
                            padding: 0;
                            margin: 0;
                            border-radius: 0rem;
                            border: none;">
                    <img src="{% static 'images/question-mark.jpg' %}"
                         class="image-fluid set-img content"
                         style="border-radius: 0%; display: block; border: none;">
                    <a href="{% url 'complain_other' %}">
                        <div class="card-img-overlay click-right">
                            <h1 class="fw-light text-light text-center">
                                Boshqa mavzu haqida shikoyat qilish
                            </h1>
                            <h1 class="display-1 ms-4 me-0 mb-3"
                                style="color: #fff;
                                       margin: 0;
                                       float: right;">
                                &rightarrow;
                            </h1>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}