{% extends 'service/base.html' %}
{% load bootstrap5 %}

{% block content %}
<div class="container put-footer-bottom">
    <div class="container col-xl-8 text-center pt-4 pb-4">
        <h1 class="fw-light">Boshqa turdagi shikoyatlar uchun</h1>
    </div>
    <div class="container col-xl-8 form-dec pt-4 pb-4 mb-5">
        <form action="{% url 'complain_other' %}" novalidate
              method="post" class="form-control bg-dark text-light fw-light">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <div style="position: relative;">
                    <button type="submit" name="submit" class="btn btn-warning fw-light">
                        Yuborish
                    </button>
                    <a class="btn btn-warning fw-light align-r-2" href="/" id="mainpage">
                        Asosiy sahifaga qaytish
                    </a>
                </div>
            {% endbuttons %}
        </form>
    </div>
</div>
<script>
    $(window).resize(function (e) {
        if (window.innerWidth < 316) {
            $('#mainpage').removeClass('align-r-2');
            $('#mainpage').addClass('top-m');
        } else {
            $('#mainpage').addClass('align-r-2');
            $('#mainpage').removeClass('top-m');
        }
    });
    $(window).on('load', function (e) {
        if (window.innerWidth < 316) {
            $('#mainpage').removeClass('align-r-2');
            $('#mainpage').addClass('top-m');
        } else {
            $('#mainpage').addClass('align-r-2');
            $('#mainpage').removeClass('top-m');
        }
    });
</script>
{% endblock content %}