{% extends 'service/base.html' %}
{% load bootstrap5 %}

{% block content %}
<div class="container put-footer-bottom">
    <div class="container col-xl-12 mb-5" style="max-width: 100%">
        <div class="row">
            <div class="col-xl-2 ad-col">
                <div class="card mx-auto ad-cards">
                    <h4 class="fw-light">Reklama</h4>
                </div>
            </div>
            <div class="col-xl-8 main-col-2">
                {% block page_header %}
                    <div class="container header-container text-center mt-4 pb-3 mb-4">
                        <h1 class="fw-light">Sayt yaratish uchun quyidagi ma'lumotlarni to'ldiring</h1>
                    </div>
                {% endblock page_header %}
                <form class="form-control bg-dark text-light fw-light" novalidate
                      action="{% url 'create_site' %}" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-warning fw-light">Yuborish &raquo;</button>
                        <a class="btn btn-warning button-fix-2 fw-light"
                            href="/">Asosiy sahifaga qaytish</a>
                    {% endbuttons %}
                </form>
            </div>
            <div class="col-xl-2 ad-col">
                <div class="card mx-auto ad-cards">
                    <h4 class="fw-light">Reklama</h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}