{% extends 'service/base.html' %}
{% load static %}

{% block content %}
<div class="container put-footer-bottom">
    {% include 'service/includes/admin_tab.html' %}
    <div class="container col-xl-5 text-center pt-5 pb-5">
        <img src="{% static 'images/attention.jpg' %}" height="150">
        <h4 class="fw-light mt-4">So'rov rad etildi!</h4>
        <h5 class="fw-light">Narxni hisoblashda zarur bo'lgan boshqa narxlar yoki xarajatlar kiritilmagan</h5>
        <h5 class="fw-light mt-4">So'rovingiz rad etilmasligi uchun quyidagilarga amal qiling:</h5>
        <h6 class="fw-light mt-3">1. Plastik prujinali ulash turini kiritishdan oldin:</h6>
        <ul class="ul-middle">
            <li class="text-start">
                <h6>Muqova narxini</h6>
            </li>
            <li class="text-start">
                <h6>Ishchi kuchi haqqini</h6>
            </li>
            <li class="text-start">
                <h6>Qadoqlash xarajatini</h6>
            </li>
        </ul>
        <h6 class="fw-light mt-3">2. Metal prujinali ulash turini kiritishdan oldin:</h6>
        <ul class="ul-middle">
            <li class="text-start">
                <h6>Muqova narxini</h6>
            </li>
            <li class="text-start">
                <h6>Ishchi kuchi haqqini</h6>
            </li>
            <li class="text-start">
                <h6>Qadoqlash xarajatini</h6>
            </li>
        </ul>
        <h6 class="fw-light mt-3">3. Yumshoq muqovali yelimlab ulash turini kiritishdan oldin:</h6>
        <ul class="ul-middle">
            <li class="text-start">
                <h6>Muqova narxini</h6>
            </li>
            <li class="text-start">
                <h6>Ip narxini</h6>
            </li>
            <li class="text-start">
                <h6>Ishchi kuchi haqqini</h6>
            </li>
            <li class="text-start">
                <h6>Qadoqlash xarajatini</h6>
            </li>
            <li class="text-start">
                <h6>Yelim narxini</h6>
            </li>
        </ul>
        <h6 class="fw-light mt-3">4. Qattiq muqovali yelimlab ulash turini kiritishdan oldin:</h6>
        <ul class="ul-middle">
            <li class="text-start">
                <h6>Muqova narxini</h6>
            </li>
            <li class="text-start">
                <h6>Ip narxini</h6>
            </li>
            <li class="text-start">
                <h6>Ishchi kuchi haqqini</h6>
            </li>
            <li class="text-start">
                <h6>Qadoqlash xarajatini</h6>
            </li>
            <li class="text-start">
                <h6>Yelim narxini</h6>
            </li>
        </ul>
        <h6 class="fw-light mt-3">5. Steplerlab ulash turini kiritishdan oldin:</h6>
        <ul class="ul-middle">
            <li class="text-start">
                <h6>Stepler o'qi narxini</h6>
            </li>
        </ul>
        <h6 class="fw-light">kiritganingizga va sanalar mos tushishiga ishonch hosil qiling.</h6>
        <a class="btn btn-warning fw-light mt-4" href="{% url 'pricing' %}">Orqaga qaytish</a>
    </div>
</div>
{% endblock content %}