{% extends 'service/base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
<div class="container put-footer-bottom">
    {% include 'service/includes/admin_tab.html' %}
    <div class="container col-xl-8 text-center pt-4 pb-4">
        <h1 class="fw-light">Zarar tushgan resurs nomini kiritish</h1>
        <h3 class="fw-light">Nomlar soni: {{ types_num }}</h3>
    </div>
    <div class="container col-xl-8 form-dec pt-4 pb-4">
        <form class="form-control bg-dark fw-light text-light" action="{% url 'ltypes' %}"
                novalidate method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-warning fw-light">Kiritish &check;</button>
            {% endbuttons %}
        </form>
    </div>
    <div class="container col-xl-8 pt-4 pb-2 mb-5" style="border-bottom: 1px solid #d0d0d0;">
        {% if types %}
            <div class="table-responsive-xl">
                <table class="table table-hover table-striped table-dark align-middle text-light text-center">
                    <thead>
                        <tr>
                            <th scope="col">Nom raqami</th>
                            <th scope="col">Resurs nomi</th>
                            <th scope="col">Turli o'lchamli</th>
                            <th scope="col">Turli rangli</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for type in types %}
                            <tr class="clickable-row" data-href="{% url 'edit_ltype' type.id %}">
                                <th scope="col">{{ type.id }}</th>
                                <td>{{ type.type }}</td>
                                {% if type.size %}
                                    <td><img src="{% static 'images/done.png' %}" height="25"></td>
                                {% else %}
                                    <td><img src="{% static 'images/undone2.png' %}" height="30"></td>
                                {% endif %}
                                {% if type.color %}
                                    <td><img src="{% static 'images/done.png' %}" height="25"></td>
                                {% else %}
                                    <td><img src="{% static 'images/undone2.png' %}" height="30"></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <h2 class="fw-light text-center pb-3">Zarar tushgan resurslar mavjud emas...</h2>
        {% endif %}
    </div>
</div>
<script>
    jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });
</script>
{% endblock content %}