{% extends 'service/base.html' %}
{% load static %}

{% block content %}
<div class="container put-footer-bottom">
    {% include 'service/includes/admin_tab.html' %}
    <div class="col-xl-5 mx-auto text-center pt-5 pb-5">
        <img src="{% static 'images/attentionred.png' %}" height="150">
        <h4 class="fw-light mt-4">Xatolik!</h4>
        <h5 class="fw-light mt-3">Ma'lumotlari farqsiz o'zaro mos tushadigan <cite>ulash</cite> narxlari topildi!
            Xatolikni bartaraf etish uchun bir xil ma'lumotlarni o'chiring</h5>
        <a class="btn btn-warning fw-light mt-4" href="{% url 'pricing' %}">Orqaga qaytish</a>
    </div>
</div>
{% endblock content %}