{% extends 'service/base.html' %}
{% load static %}

{% block content %}
<div class="container put-footer-bottom">
    {% include 'service/includes/admin_tab.html' %}
    <div class="container col-xl-8 text-center pt-5 pb-5">
        <img src="{% static 'images/attention.jpg' %}" height="150">
        <h4 class="fw-light mt-4">So'rov rad etildi!</h4>
        <h5 class="fw-light mb-3">Ma'lumotlar ulash turi narx(lar)ini aniqlash uchun ishlatilgan va shu sababli o'chirish
        ta'qiqlanadi. Ta'qiqini olish uchun quyidagi havola(lar) orqali bog'liq bo'lgan ulash narx(lar)ini
        o'chiring</h5>
        {% if sg_binding_price and hg_binding_price %}
            <a class="link-hover fw-normal" href="{% url 'edit_binding_price' sg_binding_price.id %}">
                <cite>
                    Ulash-narxlari&gt;
                    {{ sg_binding_price.date|date:'d-m-Y' }}&gt;
                    {{ sg_binding_price.type }}&gt;
                    {{ sg_binding_price.size }}&gt;...
                </cite>
            </a><br>
            <a class="link-hover fw-normal" href="{% url 'edit_binding_price' hg_binding_price.id %}"
                style="line-height: 2rem;">
                <cite>
                    Ulash-narxlari&gt;
                    {{ hg_binding_price.date|date:'d-m-Y' }}&gt;
                    {{ hg_binding_price.type }}&gt;
                    {{ hg_binding_price.size }}&gt;...
                </cite>
            </a><br>
        {% elif sg_binding_price and not hg_binding_price %}
            <a class="link-hover fw-normal" href="{% url 'edit_binding_price' sg_binding_price.id %}">
                <cite>
                    Ulash-narxlari&gt;
                    {{ sg_binding_price.date|date:'d-m-Y' }}&gt;
                    {{ sg_binding_price.type }}&gt;
                    {{ sg_binding_price.size }}&gt;...
                </cite>
            </a><br>
        {% elif hg_binding_price and not sg_binding_price %}
            <a class="link-hover fw-normal" href="{% url 'edit_binding_price' hg_binding_price.id %}">
                <cite>
                    Ulash-narxlari&gt;
                    {{ hg_binding_price.date|date:'d-m-Y' }}&gt;
                    {{ hg_binding_price.type }}&gt;
                    {{ hg_binding_price.size }}&gt;...
                </cite>
            </a><br>
        {% endif %}
        <a class="btn btn-warning fw-light mt-4" href="{% url 'pricing' %}">Orqaga qaytish</a>
    </div>
</div>
{% endblock content %}