{% extends 'service/base.html' %}
{% load bootstrap5 %}

{% block content %}
<div class="container put-footer-bottom">
    <div class="container mb-5" style="max-width: 100%;">
        <div class="row">
            <div class="col-xl">

            </div>
            <div class="col-xl-8">
                <div class="container text-center pt-4 pb-4">
                    <h1 class="fw-light">Buyurtma berish uchun quyidagi ma'lumotlarni to'ldiring</h1>
                </div>
                <div class="container form-dec pt-4 pb-4">
                    <form class="form-control bg-dark text-light fw-light" action="{% url 'order_site' book_id %}"
                          novalidate method="post">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}
                            <div style="position: relative;">
                                <button type="submit" class="btn btn-warning fw-light">Yuborish</button>
                                <a class="btn btn-warning fw-light align-r-2"
                                   href="/"
                                   id="mainpage">
                                    Asosiy sahifaga qaytish
                                </a>
                            </div>
                        {% endbuttons %}
                    </form>
                </div>
            </div>
            <div class="col-xl">

            </div>
        </div>
    </div>
    <div class="container fixed-bottom pt-3 pb-2" style="max-width: 100%; background: #FF9700;">
        <h6 class="fw-light">75 x 450 = 33000</h6>
    </div>
</div>
{% if res %}
    {% if not res.ringed_colorless %}
        <script>
            $(window).on('load', function (e) {
                var type = 'Plastik prujinalangan (rangsiz)';
                $(`#id_book_type option[value='${type}']`).prop('disabled', true);
            });
        </script>
    {% endif %}
    {% if not res.ringed_color %}
        <script>
            $(window).on('load', function (e) {
                var type1 = 'Plastik prujinalangan (rangli)';
                $(`#id_book_type option[value='${type1}']`).prop('disabled', true);
            });
        </script>
    {% endif %}
    {% if not res.metal_ringed_colorless %}
        <script>
            $(window).on('load', function (e) {
                var type2 = 'Metal prujinalangan (rangsiz)';
                $(`#id_book_type option[value='${type2}']`).prop('disabled', true);
            });
        </script>
    {% endif %}
    {% if not res.metal_ringed_color %}
        <script>
            $(window).on('load', function (e) {
                var type3 = 'Metal prujinalangan (rangli)';
                $(`#id_book_type option[value='${type3}']`).prop('disabled', true);
            });
        </script>
    {% endif %}
    {% if not res.g_soft_colorless %}
        <script>
            $(window).on('load', function (e) {
                var type4 = 'Yelimlangan yumshoq muqovali (rangsiz)';
                $(`#id_book_type option[value='${type4}']`).prop('disabled', true);
            });
        </script>
    {% endif %}
    {% if not res.g_soft_color %}
        <script>
            $(window).on('load', function (e) {
                var type5 = 'Yelimlangan yumshoq muqovali (rangli)';
                $(`#id_book_type option[value='${type5}']`).prop('disabled', true);
            });
        </script>
    {% endif %}
    {% if not res.g_hard_colorless %}
        <script>
            $(window).on('load', function (e) {
                var type6 = 'Yelimlangan qattiq muqovali (rangsiz)';
                $(`#id_book_type option[value='${type6}']`).prop('disabled', true);
            });
        </script>
    {% endif %}
    {% if not res.g_hard_color %}
        <script>
            $(window).on('load', function (e) {
                var type7 = 'Yelimlangan qattiq muqovali (rangli)';
                $(`#id_book_type option[value='${type7}']`).prop('disabled', true);
            });
        </script>
    {% endif %}
    {% if not res.stapled_colorless %}
        <script>
            $(window).on('load', function (e) {
                var type8 = 'Steplerlangan (rangsiz)';
                $(`#id_book_type option[value='${type8}']`).prop('disabled', true);
            });
        </script>
    {% endif %}
    {% if not res.stapled_color %}
        <script>
            $(window).on('load', function (e) {
                var type9 = 'Steplerlangan (rangli)';
                $(`#id_book_type option[value='${type9}']`).prop('disabled', true);
            });
        </script>
    {% endif %}
    {% if not res.blue %}
        <script>
            $(window).on('load', function (e) {
                var color = 'Ko`k';
                $(`#id_ring_color option[value='${color}']`).prop('disabled', true);
                $(`#id_front_cover_color option[value='${color}']`).prop('disabled', true);
                $(`#id_back_cover_color option[value='${color}']`).prop('disabled', true);
            });
        </script>
    {% endif %}
    {% if not res.red %}
        <script>
            $(window).on('load', function (e) {
                var color1 = 'Qizil';
                $(`#id_ring_color option[value='${color1}']`).prop('disabled', true);
                $(`#id_front_cover_color option[value='${color1}']`).prop('disabled', true);
                $(`#id_back_cover_color option[value='${color1}']`).prop('disabled', true);
            });
        </script>
    {% endif %}
    {% if not res.black %}
        <script>
            $(window).on('load', function (e) {
                var color2 = 'Qora';
                $(`#id_ring_color option[value='${color2}']`).prop('disabled', true);
                $(`#id_front_cover_color option[value='${color2}']`).prop('disabled', true);
                $(`#id_back_cover_color option[value='${color2}']`).prop('disabled', true);
            });
        </script>
    {% endif %}
    {% if not res.transparent %}
        <script>
            $(window).on('load', function (e) {
                var color3 = 'Rangsiz';
                $(`#id_ring_color option[value='${color3}']`).prop('disabled', true);
                $(`#id_front_cover_color option[value='${color3}']`).prop('disabled', true);
            });
        </script>
    {% endif %}
    {% if not res.yellow %}
        <script>
            $(window).on('load', function (e) {
                var color4 = 'Sariq';
                $(`#id_ring_color option[value='${color4}']`).prop('disabled', true);
                $(`#id_front_cover_color option[value='${color4}']`).prop('disabled', true);
                $(`#id_back_cover_color option[value='${color4}']`).prop('disabled', true);
            });
        </script>
    {% endif %}
    {% if not res.green %}
        <script>
            $(window).on('load', function (e) {
                var color5 = 'Yashil';
                $(`#id_ring_color option[value='${color5}']`).prop('disabled', true);
                $(`#id_front_cover_color option[value='${color5}']`).prop('disabled', true);
                $(`#id_back_cover_color option[value='${color5}']`).prop('disabled', true);
            });
        </script>
    {% endif %}
{% else %}
    <script>
        $(window).on('load', function (e) {
            var type = 'Plastik prujinalangan (rangsiz)';
            var type1 = 'Plastik prujinalangan (rangli)';
            var type2 = 'Metal prujinalangan (rangsiz)';
            var type3 = 'Metal prujinalangan (rangli)';
            var type4 = 'Yelimlangan yumshoq muqovali (rangsiz)';
            var type5 = 'Yelimlangan yumshoq muqovali (rangli)';
            var type6 = 'Yelimlangan qattiq muqovali (rangsiz)';
            var type7 = 'Yelimlangan qattiq muqovali (rangli)';
            var type8 = 'Steplerlangan (rangsiz)';
            var type9 = 'Steplerlangan (rangli)';
            var color = 'Ko`k';
            var color1 = 'Qizil';
            var color2 = 'Qora';
            var color3 = 'Rangsiz';
            var color4 = 'Sariq';
            var color5 = 'Yashil';

            $(`#id_book_type option[value='${type}']`).prop('disabled', true);
            $(`#id_book_type option[value='${type1}']`).prop('disabled', true);
            $(`#id_book_type option[value='${type2}']`).prop('disabled', true);
            $(`#id_book_type option[value='${type3}']`).prop('disabled', true);
            $(`#id_book_type option[value='${type4}']`).prop('disabled', true);
            $(`#id_book_type option[value='${type5}']`).prop('disabled', true);
            $(`#id_book_type option[value='${type6}']`).prop('disabled', true);
            $(`#id_book_type option[value='${type7}']`).prop('disabled', true);
            $(`#id_book_type option[value='${type8}']`).prop('disabled', true);
            $(`#id_book_type option[value='${type9}']`).prop('disabled', true);
            $(`#id_ring_color option[value='${color}']`).prop('disabled', true);
            $(`#id_ring_color option[value='${color1}']`).prop('disabled', true);
            $(`#id_ring_color option[value='${color2}']`).prop('disabled', true);
            $(`#id_ring_color option[value='${color3}']`).prop('disabled', true);
            $(`#id_ring_color option[value='${color4}']`).prop('disabled', true);
            $(`#id_ring_color option[value='${color5}']`).prop('disabled', true);
            $(`#id_front_cover_color option[value='${color}']`).prop('disabled', true);
            $(`#id_front_cover_color option[value='${color1}']`).prop('disabled', true);
            $(`#id_front_cover_color option[value='${color2}']`).prop('disabled', true);
            $(`#id_front_cover_color option[value='${color3}']`).prop('disabled', true);
            $(`#id_front_cover_color option[value='${color4}']`).prop('disabled', true);
            $(`#id_front_cover_color option[value='${color5}']`).prop('disabled', true);
            $(`#id_back_cover_color option[value='${color}']`).prop('disabled', true);
            $(`#id_back_cover_color option[value='${color1}']`).prop('disabled', true);
            $(`#id_back_cover_color option[value='${color2}']`).prop('disabled', true);
            $(`#id_back_cover_color option[value='${color3}']`).prop('disabled', true);
            $(`#id_back_cover_color option[value='${color4}']`).prop('disabled', true);
            $(`#id_back_cover_color option[value='${color5}']`).prop('disabled', true);
        });
    </script>
{% endif %}
{% if places %}
    {% for place in places %}
        {% if not place.available %}
            <script>
                $(window).on('load', function (e) {
                    var place_id = '{{ place.id }}';

                    $('#id_place_to_get').val('').change();
                    $(`#id_place_to_get option[value='${place_id}']`).prop('disabled', true);
                });
            </script>
        {% endif %}
    {% endfor %}
{% else %}
    <script>
        $(window).on('load', function (e) {
            $('#id_place_to_get').append(`<option selected disabled>Manzillar mavjud emas...</option>`)
        });
    </script>
{% endif %}
<script>
    $(window).resize(function (e) {
        if (window.innerWidth < 339) {
            $('#mainpage').removeClass('align-r-2');
            $('#mainpage').addClass('top-m');
        } else {
            $('#mainpage').addClass('align-r-2');
            $('#mainpage').removeClass('top-m');
        }
    });
    $(window).on('load', function (e) {
        $('#id_ring_color').parent().hide();
        $('#id_front_cover_color').parent().hide();
        $('#id_back_cover_color').parent().hide();

        if (window.innerWidth < 339) {
            $('#mainpage').removeClass('align-r-2');
            $('#mainpage').addClass('top-m');
        } else {
            $('#mainpage').addClass('align-r-2');
            $('#mainpage').removeClass('top-m');
        }
    });
    $('select').on('change', function (e) {
        var sel = document.getElementById("id_book_type")
        var opt = sel.value

        if (opt === 'Plastik prujinalangan (rangsiz)' || opt === 'Plastik prujinalangan (rangli)') {
            $('#id_ring_color').parent().slideDown("slow");
            $('#id_front_cover_color').parent().slideDown("slow");
            $('#id_back_cover_color').parent().slideDown("slow");
        } else {
            $('#id_ring_color').parent().slideUp("slow");
            $('#id_front_cover_color').parent().slideUp("slow");
            $('#id_back_cover_color').parent().slideUp("slow");
        }
    });
</script>
{% endblock content %}
