{% extends 'service/base.html' %}
{% load static %}

{% block content %}
<div class="container put-footer-bottom">
    <div class="container" style="padding: 0; margin: 0; height: 100%; max-width: 100%; border: none;">
        <div class="row g-0" style="border: none;">
            <div class="col-lg-6" style="border: none; position: relative;">
                <div class="card"
                     style="max-width: 100%;
                            padding: 0;
                            margin: 0;
                            border-radius: 0rem;
                            border: none;">
                    <img src="{% static 'images/laptop_mod.jpg' %}"
                         class="image-fluid set-img content"
                         style="border-radius: 0%; display: block; border: none;">
                    <a href="{% url 'order_site' %}">
                        <div class="card-img-overlay click-left">
                            <h1 class="display-1 ms-0 me-4 mb-3"
                                style="color: #fff;
                                       margin: 0;
                                       float: left;">
                                &leftarrow;
                            </h1>
                            <h1 class="fw-light text-light text-center">
                                Saytda mavjud kitoblardan buyurtma berish
                            </h1>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-6" style="border: none; position: relative;">
                <div class="card"
                     style="max-width: 100%;
                            padding: 0;
                            margin: 0;
                            border-radius: 0rem;
                            border: none;">
                    <img src="{% static 'images/bookss_mod.jpg' %}"
                         class="image-fluid set-img content h-100"
                         style="border-radius: 0%; display: block; border: none;">
                    <a href="{% url 'order_users' %}">
                        <div class="card-img-overlay click-right">
                            <h1 class="fw-light text-light text-center">
                                O'zingizda mavjud kitoblardan buyurtma berish
                            </h1>
                            <h1 class="display-1 ms-4 me-0 mb-3"
                                style="color: #fff;
                                       margin: 0;
                                       float: right;">
                                &rightarrow;
                            </h1>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
