{% extends 'service/base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
<div class="container put-footer-bottom">
    {% include 'service/includes/admin_tab.html' %}
    <div class="container col-xl-12 pt-4 ps-4 pe-4 pb-4" style="max-width: 100%;">
        <h1 class="fw-light">Resurslar haqidagi ma'lumotlar</h1>
    </div>
    <div class="container col-xl-12 table-cont-dec pt-4 pb-2" style="max-width: 100%;">
        {% if res_s %}
            <div class="table-responsive-xl">
                <table class="table table-hover table-striped table-dark align-middle fw-light text-light text-center">
                    <thead>
                        <tr>
                            <th scope="col">Resurs nomi</th>
                            <th scope="col">O'lchami</th>
                            <th scope="col">Turi</th>
                            <th scope="col">Ranggi</th>
                            <th scope="col">Miqdori/Soni</th>
                            <th scope="col">Sotib olingan sana</th>
                            <th scope="col">Qiymati</th>
                            <th scope="col">So'nggi marta ishlatilgan sana</th>
                            <th scope="col">Ishlatilgan miqdor</th>
                            <th scope="col">Foydalanuvchi</th>
                            <th scope="col">Mavjud</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for res in res_s %}
                            <tr class="clickable-row" data-href="{% url 'edit_resource' res.id %}">
                                <th scope="col">{{ res.rtype }}</th>
                                {% if res.size %}
                                    <td>{{ res.size }}</td>
                                {% else %}
                                    <td style="color: red">Mavjud emas</td>
                                {% endif %}
                                {% if res.type %}
                                    <td>{{ res.type }}</td>
                                {% else %}
                                    <td style="color: red">Mavjud emas</td>
                                {% endif %}
                                {% if res.color %}
                                    <td>{{ res.color }}</td>
                                {% else %}
                                    <td style="color: red">Mavjud emas</td>
                                {% endif %}
                                <td>{{ res.amount }}</td>
                                <td>{{ res.time_bought|date:'d-m-Y' }}</td>
                                <td>{{ res.worth.amount|separate_with_space }} {{ res.worth.currency }}</td>
                                {% if res.last_used_date %}
                                    <td>{{ res.last_used_date|date:'d-m-Y' }}</td>
                                {% else %}
                                    <td style="color: red">Mavjud emas</td>
                                {% endif %}
                                {% if res.amount_used %}
                                    <td>{{ res.amount_used }}</td>
                                {% else %}
                                    <td style="color: red">Mavjud emas</td>
                                {% endif %}
                                <td>{{ res.user }}</td>
                                <td>{{ res.available }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <h2 class="fw-light text-center pt-4 pb-4 mb-3">Resurslar mavjud emas...</h2>
        {% endif %}
    </div>
    <div class="container col-xl-8 pt-4 pb-4 mb-5" style="border-bottom: 1px solid #d0d0d0;">
        <h1 class="fw-light pt-4 ps-4 pb-4">Ma'lumot kiritish</h1>
        <form class="form-control bg-dark fw-light text-light" action="{% url 'resources' %}"
                novalidate method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-warning fw-light">Kiritish &check;</button>
                <a class="btn btn-warning fw-light top-m" href="{% url 'rtypes' %}">Resurs nomini kiritish</a>
            {% endbuttons %}
        </form>
    </div>
</div>
<script>
    $(window).on('load', function (e) {
        $('#id_size').parent().hide();
        $('#id_color').parent().hide();
    });
    $('select').on('change', function (e) {
        var types_dicts = {{ dicts|safe }}
        var sel = document.getElementById("id_rtype")
        var val = sel.options[sel.selectedIndex].value
        var text = sel.options[sel.selectedIndex].text
        var selected_dict;
        if (val) {
            selected_dict = types_dicts.find(dict => dict.type === text);

            if (selected_dict['size'] === true && selected_dict['color'] === true) {
                $('#id_size').parent().slideDown("slow");
                $('#id_color').parent().slideDown("slow");
            } else if (selected_dict['size'] === true && selected_dict['color'] === false) {
                $('#id_size').parent().slideDown("slow");
                $('#id_color').parent().slideUp("slow");
            } else if (selected_dict['size'] === false && selected_dict['color'] === true) {
                $('#id_size').parent().slideUp("slow");
                $('#id_color').parent().slideDown("slow");
            };
        } else {
            $('#id_size').parent().slideUp("slow");
            $('#id_color').parent().slideUp("slow");
        };
    });
</script>
<script>
    jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });
</script>
{% endblock content %}