{% extends 'service/base.html' %}
{% load static %}

{% block content %}
<div class="container put-footer-bottom">
    <div class="container col-xl-12 mb-5" style="max-width: 100%">
        <div class="row">
            <div class="col-xl-2 ad-col">
                <div class="card mx-auto ad-cards">
                    <h4 class="fw-light">Reklama</h4>
                </div>
            </div>
            <div class="col-xl-8 main-col">
                {% block page_header %}
                <div class="container header-container text-center mt-4 pb-3">
                    <h1 class="fw-light">Qidiruv natijalari</h1>
                </div>
                {% endblock page_header %}
                {% if books %}
                    <div class="container mt-3" style="max-width: 90%">
                        <h2 class="fw-light pb-3 mb-4" style="border-bottom: 1px solid #d0d0d0;">Kitoblar</h2>
                        {% for book in books %}
                            <div class="card mx-auto pt-0" style="max-width: 100%;
                                                                  border-radius: .0rem;">
                                <div class="card-body pt-0 pb-0">
                                    <div class="card-title">
                                        <p>
                                            {% if book.category == 'Aniq fanlar' %}
                                            <a class="link-hover fw-normal"
                                               href="{% url 'exact_science_books' %}">
                                                <cite>Janr</cite> - {{ book.category }} &gt;
                                                <cite>Kitob kodi</cite> - {{ book.name_coded }} &gt;
                                                <cite>Kitob haqida:</cite>
                                                <strong>{{ book.chars|truncate_20 }}</strong>
                                            </a>
                                            {% elif book.category == 'Axborot Texnologiyalariga oid' %}
                                                <a class="link-hover fw-normal"
                                                   href="{% url 'it_books' %}">
                                                <cite>Janr</cite> - {{ book.category }} &gt;
                                                <cite>Kitob kodi</cite> - {{ book.name_coded }} &gt;
                                                <cite>Kitob haqida:</cite>
                                                <strong>{{ book.chars|truncate_20 }}</strong>
                                                </a>
                                            {% elif book.category == 'Detektiv' %}
                                                <a class="link-hover fw-normal"
                                                   href="{% url 'mystery_books' %}">
                                                <cite>Janr</cite> - {{ book.category }} &gt;
                                                <cite>Kitob kodi</cite> - {{ book.name_coded }} &gt;
                                                <cite>Kitob haqida:</cite>
                                                <strong>{{ book.chars|truncate_20 }}</strong>
                                                </a>
                                            {% elif book.category == 'Fantastika' %}
                                                <a class="link-hover fw-normal"
                                                   href="{% url 'fantasy_books' %}">
                                                <cite>Janr</cite> - {{ book.category }} &gt;
                                                <cite>Kitob kodi</cite> - {{ book.name_coded }} &gt;
                                                <cite>Kitob haqida:</cite>
                                                <strong>{{ book.chars|truncate_20 }}</strong>
                                                </a>
                                            {% elif book.category == 'Ilmiy Fantastika' %}
                                                <a class="link-hover fw-normal"
                                                   href="{% url 'science_fiction_books' %}">
                                                <cite>Janr</cite> - {{ book.category }} &gt;
                                                <cite>Kitob kodi</cite> - {{ book.name_coded }} &gt;
                                                <cite>Kitob haqida:</cite>
                                                <strong>{{ book.chars|truncate_20 }}</strong>
                                                </a>
                                            {% elif book.category == 'Qisqa hikoyalar' %}
                                                <a class="link-hover fw-normal"
                                                   href="{% url 'short_story_books' %}">
                                                <cite>Janr</cite> - {{ book.category }} &gt;
                                                <cite>Kitob kodi</cite> - {{ book.name_coded }} &gt;
                                                <cite>Kitob haqida:</cite>
                                                <strong>{{ book.chars|truncate_20 }}</strong>
                                                </a>
                                            {% elif book.category == 'Romanlar' %}
                                                <a class="link-hover fw-normal"
                                                   href="{% url 'novel_books' %}">
                                                <cite>Janr</cite> - {{ book.category }} &gt;
                                                <cite>Kitob kodi</cite> - {{ book.name_coded }} &gt;
                                                <cite>Kitob haqida:</cite>
                                                <strong>{{ book.chars|truncate_20 }}</strong>
                                                </a>
                                            {% elif book.category == 'Romantika' %}
                                                <a class="link-hover fw-normal"
                                                   href="{% url 'romance_books' %}">
                                                <cite>Janr</cite> - {{ book.category }} &gt;
                                                <cite>Kitob kodi</cite> - {{ book.name_coded }} &gt;
                                                <cite>Kitob haqida:</cite>
                                                <strong>{{ book.chars|truncate_20 }}</strong>
                                                </a>
                                            {% elif book.category == 'Sarguzashtlar' %}
                                                <a class="link-hover fw-normal"
                                                   href="{% url 'adventure_books' %}">
                                                <cite>Janr</cite> - {{ book.category }} &gt;
                                                <cite>Kitob kodi</cite> - {{ book.name_coded }} &gt;
                                                <cite>Kitob haqida:</cite>
                                                <strong>{{ book.chars|truncate_20 }}</strong>
                                                </a>
                                            {% elif book.category == 'Tarixiy Fantastika' %}
                                                <a class="link-hover fw-normal"
                                                   href="{% url 'historical_fiction_books' %}">
                                                <cite>Janr</cite> - {{ book.category }} &gt;
                                                <cite>Kitob kodi</cite> - {{ book.name_coded }} &gt;
                                                <cite>Kitob haqida:</cite>
                                                <strong>{{ book.chars|truncate_20 }}</strong>
                                                </a>
                                            {% elif book.category == 'Tilga oid' %}
                                                <a class="link-hover fw-normal"
                                                   href="{% url 'language_books' %}">
                                                <cite>Janr</cite> - {{ book.category }} &gt;
                                                <cite>Kitob kodi</cite> - {{ book.name_coded }} &gt;
                                                <cite>Kitob haqida:</cite>
                                                <strong>{{ book.chars|truncate_20 }}</strong>
                                                </a>
                                            {% elif book.category == 'Zamonaviy Fantastika' %}
                                                <a class="link-hover fw-normal"
                                                   href="{% url 'contemporary_fiction_books' %}">
                                                <cite>Janr</cite> - {{ book.category }} &gt;
                                                <cite>Kitob kodi</cite> - {{ book.name_coded }} &gt;
                                                <cite>Kitob haqida:</cite>
                                                <strong>{{ book.chars|truncate_20 }}</strong>
                                                </a>
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if news %}
                    <div class="container mt-4" style="max-width: 90%">
                        <h2 class="fw-light pb-3 mb-4" style="border-bottom: 1px solid #d0d0d0;">Yangiliklar</h2>
                        {% for new in news %}
                            <div class="card mx-auto" style="max-width: 100%;
                                                             border-radius: .9rem;">
                                <div class="card-body pt-0 pb-0">
                                    <div class="card-title">
                                        <a class="link-hover fw-normal"
                                                   href="{% url 'detailed_news' new.id %}">
                                        <cite>Sarlavha</cite> - {{ new.title }} &gt;
                                        <cite>Qisqacha</cite>: {{ new.short_body|truncate_without_dots_20 }} &gt;
                                        <strong>{{ new.body_1|truncate_20 }}</strong>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if posts %}
                    <div class="container mt-4" style="max-width: 90%">
                        <h2 class="fw-light pb-3 mb-4" style="border-bottom: 1px solid #d0d0d0;">Maqolalar</h2>
                        {% for post in posts %}
                            <div class="card mx-auto" style="max-width: 100%;
                                                             border-radius: .9rem;">
                                <div class="card-body pt-0 pb-0">
                                    <div class="card-title">
                                        <a class="link-hover fw-normal"
                                                   href="{% url 'post' post.id %}">
                                        <cite>Sarlavha</cite> - {{ post.title }} &gt;
                                        <strong>{{ post.body_1|truncate_20 }}</strong>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if not books and not news and not posts %}
                    <div class="container mt-4 pt-3" style="max-width: 100%">
                        <img src="{% static 'images/robot4042.png' %}" class="d-block mx-auto not-found-img">
                        <h3 class="fw-light text-center" style="font-family: consolas; color: #95b4c8">
                            {{ searched }} so'rovi bo'yicha ma'lumot topilmadi</h3>
                    </div>
                {% endif %}
            </div>
            <div class="col-xl-2 ad-col">
                <div class="card mx-auto ad-cards">
                    <h4 class="fw-light">Reklama</h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}