{% extends 'service/base.html' %}
{% load bootstrap5 %}

{% block content %}
<div class="container put-footer-bottom">
    {% include 'service/includes/admin_tab.html' %}
    <div class="container col-xl-8 text-center pt-4 pb-4">
        <h1 class="fw-light">Quyi kategoriya kiritish</h1>
    </div>
    <div class="container form-dec col-xl-8 pt-4 pb-4">
        <form class="form-control bg-dark text-light fw-light" action="{% url 'income_subcats' %}"
              novalidate method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button class="btn btn-warning fw-light" type="submit">Kiritish &check;</button>
                <a class="btn btn-warning fw-light top-m" href="{% url 'make_income' %}">Orqaga qaytish</a>
            {% endbuttons %}
        </form>
    </div>
    <div class="container col-xl-8 pt-4 pb-2 mb-5">
        <div class="container pt-4 ps-4 pe-4 pb-4">
            <h2 class="fw-light">Quyi kategoriyalar</h2>
            <h3 class="fw-light">Quyi kategoriyalar soni: {{ subcats_num }}</h3>
        </div>
        {% if subcats %}
            <div class="table-responsive-xl table-cont-dec pt-4 pb-2">
                <table class="table table-hover table-striped table-dark align-middle fw-light text-light">
                    <thead>
                        <tr>
                            <th scope="col">Quyi kategoriya raqami</th>
                            <th scope="col">Quyi kategoriya nomi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for subcat in subcats %}
                            <tr class="clickable-row" data-href="{% url 'edit_insubcat' subcat.id %}">
                                <th scope="col">{{ subcat.id }}</th>
                                <td>{{ subcat.subcategory }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% elif not subcats %}
            <div class="container table-cont-dec text-center pt-4 pb-4">
                <h2 class="fw-light">Quyi kategoriyalar mavjud emas...</h2>
            </div>
        {% endif %}
    </div>
</div>
<script>
    jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });
</script>
{% endblock content %}