{% extends 'service/base.html' %}
{% load static %}

{% block content %}
<div class="container put-footer-bottom">
    {% include 'service/admin_panel_templates/includes/admin_tab.html' %}
    <div class="container col-xl-8 text-center pt-4 pb-4">
        <h1 class="fw-light">Kirimlar-Chiqimlar</h1>
    </div>
    <div class="container col-xl-8 table-cont-dec text-light fw-light pt-4 pb-4">
        <div class="row">
            <div class="col-md">
                <div class="card clickable-card exin-card scale" data-href="{% url 'make_income' %}">
                    <div class="card-body">
                        Daromad kiritish
                        <img src="{% static 'images/income.png' %}" height="30" width="23" class="align-r">
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card clickable-card exin-card scale" data-href="{% url 'make_expense' %}" id="expense">
                    <div class="card-body">
                        Xarajat kiritish
                        <img src="{% static 'images/expense.png' %}" height="30" width="23" class="align-r">
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card clickable-card exin-card scale" data-href="{% url 'make_transaction' %}" id="ta">
                    <div class="card-body">
                        Pul o'tkazmalari
                        <img src="{% static 'images/transaction.png' %}" height="30" width="32" class="align-r">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container col-xl-12 pt-4 pb-2" style="max-width: 100%; border-bottom: 1px solid #d0d0d0;">
        {% if accs %}
            <div class="table-responsive-xl">
                <table class="table table-hover table-striped table-dark align-middle text-light fw-light">
                    <thead>
                        <tr>
                            <th class="text-center" scope="col" style="width: 120px">Hisob raqami</th>
                            <th scope="col" style="min-width: 200px; max-width: 400px">Hisob nomi</th>
                            <th scope="col" style="width: 140px">Pul birligi</th>
                            <th scope="col" style="width: 140px">Mavjud miqdor</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for acc in accs %}
                            <tr class="clickable-row" data-href="{% url 'edit_account' acc.id %}">
                                <th class="text-center" scope="col">{{ acc.id }}</th>
                                <td>{{ acc.name }}</td>
                                <td>{{ acc.means.currency }}</td>
                                <td>{{ acc.means.amount }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <a class="btn btn-warning fw-light mt-2 mb-3" href="{% url 'add_account' %}">Hisob kiritish</a>
        {% else %}
            <div class="container text-center pt-3 pb-3 mb-3">
                <h2 class="fw-light">Hisoblar yaratilmagan...</h2>
                <a class="btn btn-warning fw-light mt-3" href="{% url 'add_account' %}">Kiritish</a>
            </div>
        {% endif %}
    </div>
    <div class="container col-xl-12 fw-light pt-4 pb-4 mb-5" style="max-width: 100%">
        <div class="row">
            <div class="col-xl">
                <div class="container pt-3 pb-3">
                    <h2 class="fw-light">Daromadlar</h2>
                    <h3 class="fw-light">Daromadlar soni: {{ inc_num }}</h3>
                </div>
                {% if incomes %}
                    <div class="table-responsive-xl table-cont-dec pt-4 pb-2">
                        <table class="table table-hover table-striped table-dark align-middle text-light">
                            <thead>
                                <tr>
                                    <th scope="col">Kategoriya</th>
                                    <th scope="col">Quyi kategoriya</th>
                                    <th scope="col">Foydalanuvchi</th>
                                    <th scope="col">Hisob</th>
                                    <th scope="col">Sana</th>
                                    <th scope="col">Izoh</th>
                                    <th scope="col">Miqdor</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for income in incomes %}
                                    <tr class="clickable-row" data-href="{% url 'edit_income' income.id %}">
                                        <th scope="col">{{ income.category }}</th>
                                        <td>{{ income.subcategory }}</td>
                                        <td>{{ income.user }}</td>
                                        <td>{{ income.account }}</td>
                                        <td>{{ income.date_made|date:'d-m-Y H:i' }}</td>
                                        <td>
                                            <a class="l-3" data-bs-toggle="tooltip"
                                               data-bs-custom-class="custom-tooltip"
                                               data-bs-title="Izoh"
                                               data-bs-content="{{ income.comment }}">
                                                Ko'rish
                                            </a>
                                        </td>
                                        <td>{{ income.amount.amount|separate_with_space }}
                                            {{ income.amount.currency }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% elif not incomes %}
                    <div class="container table-cont-dec text-center pt-5 pb-5">
                        <h2 class="fw-light">Ma'lumotlar mavjud emas...</h2>
                    </div>
                {% endif %}
            </div>
            <div class="col-xl">
                <div class="container pt-3 pb-3">
                    <h2 class="fw-light">Xarajatlar</h2>
                    <h3 class="fw-light">Xarajatlar soni: {{ exp_num }}</h3>
                </div>
                {% if expenses %}
                    <div class="table-responsive-xl table-cont-dec pt-4 pb-2">
                        <table class="table table-hover table-striped table-dark align-middle text-light">
                            <thead>
                                <tr>
                                    <th scope="col">Kategoriya</th>
                                    <th scope="col">Quyi kategoriya</th>
                                    <th scope="col">Foydalanuvchi</th>
                                    <th scope="col">Hisob</th>
                                    <th scope="col">Sana</th>
                                    <th scope="col">Izoh</th>
                                    <th scope="col">Miqdor</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for expense in expenses %}
                                    <tr class="clickable-row" data-href="{% url 'edit_expense' expense.id %}">
                                        <th scope="col">{{ expense.category }}</th>
                                        <td>{{ expense.subcategory }}</td>
                                        <td>{{ expense.user }}</td>
                                        <td>{{ expense.account }}</td>
                                        <td>{{ expense.date_made|date:'d-m-Y H:i' }}</td>
                                        <td>
                                            <a class="l-3" data-bs-toggle="tooltip"
                                               data-bs-custom-class="custom-tooltip"
                                               data-bs-title="Izoh"
                                               data-bs-content="{{ expense.comment }}">
                                                Ko'rish
                                            </a>
                                        </td>
                                        <td>{{ expense.amount.amount|separate_with_space }}
                                            {{ expense.amount.currency }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% elif not expenses %}
                    <div class="container table-cont-dec text-center pt-5 pb-5">
                        <h2 class="fw-light">Ma'lumotlar mavjud emas...</h2>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('[data-bs-toggle="tooltip"]').popover({
            placement : 'bottom',
            trigger : 'hover'
        });
    });
    jQuery(document).ready(function($) {
        $(".clickable-card").click(function() {
            window.location = $(this).data("href");
        });
    });
    jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });
    $(window).resize(function (e) {
        if (window.innerWidth < 768) {
            $('#expense').addClass('top-m');
            $('#ta').addClass('top-m');
        } else {
            $('#expense').removeClass('top-m');
            $('#ta').removeClass('top-m');
        }
    });
    $(window).on('load', function (e) {
        if (window.innerWidth < 768) {
            $('#expense').addClass('top-m');
            $('#ta').addClass('top-m');
        } else {
            $('#expense').removeClass('top-m');
            $('#ta').removeClass('top-m');
        }
    });
</script>
{% endblock content %}