{% extends 'service/base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
<div class="container put-footer-bottom">
    {% include 'service/admin_panel_templates/includes/admin_tab.html' %}
    <div class="container col-xl-12 pt-4 ps-4 pe-4 pb-4" style="max-width: 100%;">
        <h1 class="fw-light">Zararlar haqidagi ma'lumotlar</h1>
    </div>
    <div class="container col-xl-12 table-cont-dec pt-4 pb-2 mb-4" style="max-width: 100%;">
        {% if losses %}
            <div class="table-responsive-xl">
                <table class="table table-hover table-striped table-dark align-middle fw-light text-light text-center">
                    <thead>
                        <tr>
                            <th scope="col">Resurs nomi</th>
                            <th scope="col">Kitob nomi</th>
                            <th scope="col">O'lchami</th>
                            <th scope="col">Turi</th>
                            <th scope="col">Ranggi</th>
                            <th scope="col">Miqdori/Soni</th>
                            <th scope="col">Sababi</th>
                            <th scope="col">Sana</th>
                            <th scope="col">Ma'sul shaxs</th>
                            <th scope="col">Qiymati</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for loss in losses %}
                            <tr class="clickable-row" data-href="{% url 'edit_loss' loss.id %}">
                                <th scope="col">{{ loss.ltype }}</th>
                                {% if loss.name %}
                                    <td>{{ loss.name }}</td>
                                {% else %}
                                    <td style="color: red">Mavjud emas</td>
                                {% endif %}
                                {% if loss.size %}
                                    <td>{{ loss.size }}</td>
                                {% else %}
                                    <td style="color: red">Mavjud emas</td>
                                {% endif %}
                                {% if loss.type %}
                                    <td>{{ loss.type }}</td>
                                {% else %}
                                    <td style="color: red">Mavjud emas</td>
                                {% endif %}
                                {% if loss.color %}
                                    <td>{{ loss.color }}</td>
                                {% else %}
                                    <td style="color: red">Mavjud emas</td>
                                {% endif %}
                                <td>{{ loss.amount }}</td>
                                <td>
                                    <a class="fw-light l-3"
                                       data-bs-toggle="tooltip"
                                       data-bs-title="Sababi"
                                       data-bs-content="{{ loss.reason }}"
                                       data-bs-custom-class="custom-tooltip">
                                        Ko'rish
                                    </a>
                                </td>
                                <td>{{ loss.time_loss|date:'d-m-Y' }}</td>
                                <td>{{ loss.loser }}</td>
                                <td>{{ loss.worth.amount|separate_with_space }} {{ loss.worth.currency }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="container text-center pt-4 pb-4 mb-3">
                <h2 class="fw-light">Ma'lumotlar mavjud emas...</h2>
            </div>
        {% endif %}
    </div>
    <div class="container col-xl-8 ps-4 pt-4 pe-4 pb-4">
        <h1 class="fw-light">Ma'lumot kiritish</h1>
    </div>
    <div class="container col-xl-8 form-dec pt-4 pb-4 mb-5">
        <form class="form-control bg-dark fw-light text-light" action="{% url 'losses' %}"
                novalidate method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-warning fw-light">Kiritish</button>
                <a class="btn btn-warning fw-light"
                   href="{% url 'ltypes' %}"
                   id="names">Zararga tushgan resurs nomlari</a>
            {% endbuttons %}
        </form>
    </div>
</div>
<script>
    $(window).resize(function (e) {
        if (window.innerWidth < 359) {
            $('#names').addClass('top-m');
        } else {
            $('#names').removeClass('top-m');
        }
    });
    $(window).on('load', function (e) {
        $('#id_name').parent().hide();
        $('#id_size').parent().hide();
        $('#id_color').parent().hide();

        if (window.innerWidth < 359) {
            $('#names').addClass('top-m');
        } else {
            $('#names').removeClass('top-m');
        }
    });
    $('select').on('change', function (e) {
        var types_dicts = {{ dicts|safe }}
        var sel = document.getElementById("id_ltype")
        var val = sel.options[sel.selectedIndex].value
        var text = sel.options[sel.selectedIndex].text
        var selected_dict;
        if (val) {
            selected_dict = types_dicts.find(dict => dict.type === text);

            if (selected_dict['size'] === true && selected_dict['color'] === true) {
                $('#id_size').parent().slideDown("slow");
                $('#id_color').parent().slideDown("slow");
            } else if (selected_dict['size'] === true && selected_dict['color'] === false) {
                $('#id_size').parent().slideDown("slow");
                $('#id_color').parent().slideUp("slow");
            } else if (selected_dict['size'] === false && selected_dict['color'] === true) {
                $('#id_size').parent().slideUp("slow");
                $('#id_color').parent().slideDown("slow");
            };

            if (text.toUpperCase() === 'KITOB') {
                $('#id_name').parent().slideDown("slow");
            } else {
                $('#id_name').parent().slideUp("slow");
            };
        } else {
            $('#id_name').parent().slideUp("slow");
            $('#id_size').parent().slideUp("slow");
            $('#id_color').parent().slideUp("slow");
        };
    });
</script>
<script>
    $(document).ready(function(){
        $('[data-bs-toggle="tooltip"]').popover({
            placement : 'bottom',
            trigger : 'hover'
        });
    });
</script>
<script>
    jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });
</script>
{% endblock content %}