{% extends 'service/base.html' %}
{% load bootstrap5 %}

{% block content %}
<div class="container put-footer-bottom">
    {% include 'service/admin_panel_templates/includes/admin_tab.html' %}
    <div class="container col-xl-8 text-center pt-4 pb-4">
        <h1 class="fw-light">Prujina narxini kiritish</h1>
    </div>
    <div class="container col-xl-8 form-dec pt-4 pb-4">
        <form class="form-control bg-dark text-light fw-light" action="{% url 'ring_price' %}"
            novalidate method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-warning fw-light">Kiritish</button>
            {% endbuttons %}
        </form>
    </div>
</div>
<script>
    $(window).on('load', function (e) {
        var psize1 = '4.5mm (<15)'
        var psize2 = '6mm (15-30)'
        var psize3 = '8mm (30-50)'
        var psize4 = '10mm (50-70)'
        var psize5 = '12mm (70-90)'
        var psize6 = '14mm (90-110)'
        var psize7 = '16mm (110-130)'
        var psize8 = '18mm (130-150)'
        var psize9 = '20mm (150-170)'
        var psize10 = '22mm (170-190)'
        var psize11 = '25mm (190-220)'
        var psize12 = '28mm (220-250)'
        var psize13 = '32mm (250-280)'
        var psize14 = '38mm (280-340)'
        var psize15 = '45mm (340-410)'
        var psize16 = '51mm (410-480)'
        var msize1 = '5.5mm (<20)'
        var msize2 = '6.9mm (20-30)'
        var msize3 = '8.1mm (30-50)'
        var msize4 = '9.5mm (50-60)'
        var msize5 = '11mm (60-80)'
        var msize6 = '12.7mm (80-100)'
        var msize7 = '14.3mm (100-120)'

        $(`#id_size option[value='${psize1}']`).prop('disabled', true);
        $(`#id_size option[value='${psize2}']`).prop('disabled', true);
        $(`#id_size option[value='${psize3}']`).prop('disabled', true);
        $(`#id_size option[value='${psize4}']`).prop('disabled', true);
        $(`#id_size option[value='${psize5}']`).prop('disabled', true);
        $(`#id_size option[value='${psize6}']`).prop('disabled', true);
        $(`#id_size option[value='${psize7}']`).prop('disabled', true);
        $(`#id_size option[value='${psize8}']`).prop('disabled', true);
        $(`#id_size option[value='${psize9}']`).prop('disabled', true);
        $(`#id_size option[value='${psize10}']`).prop('disabled', true);
        $(`#id_size option[value='${psize11}']`).prop('disabled', true);
        $(`#id_size option[value='${psize12}']`).prop('disabled', true);
        $(`#id_size option[value='${psize13}']`).prop('disabled', true);
        $(`#id_size option[value='${psize14}']`).prop('disabled', true);
        $(`#id_size option[value='${psize15}']`).prop('disabled', true);
        $(`#id_size option[value='${psize16}']`).prop('disabled', true);
        $(`#id_size option[value='${msize1}']`).prop('disabled', true);
        $(`#id_size option[value='${msize2}']`).prop('disabled', true);
        $(`#id_size option[value='${msize3}']`).prop('disabled', true);
        $(`#id_size option[value='${msize4}']`).prop('disabled', true);
        $(`#id_size option[value='${msize5}']`).prop('disabled', true);
        $(`#id_size option[value='${msize6}']`).prop('disabled', true);
        $(`#id_size option[value='${msize7}']`).prop('disabled', true);
    });
    $('select').on('change', function (e) {
        var psize1 = '4.5mm (<15)'
        var psize2 = '6mm (15-30)'
        var psize3 = '8mm (30-50)'
        var psize4 = '10mm (50-70)'
        var psize5 = '12mm (70-90)'
        var psize6 = '14mm (90-110)'
        var psize7 = '16mm (110-130)'
        var psize8 = '18mm (130-150)'
        var psize9 = '20mm (150-170)'
        var psize10 = '22mm (170-190)'
        var psize11 = '25mm (190-220)'
        var psize12 = '28mm (220-250)'
        var psize13 = '32mm (250-280)'
        var psize14 = '38mm (280-340)'
        var psize15 = '45mm (340-410)'
        var psize16 = '51mm (410-480)'
        var msize1 = '5.5mm (<20)'
        var msize2 = '6.9mm (20-30)'
        var msize3 = '8.1mm (30-50)'
        var msize4 = '9.5mm (50-60)'
        var msize5 = '11mm (60-80)'
        var msize6 = '12.7mm (80-100)'
        var msize7 = '14.3mm (100-120)'
        var sel = document.getElementById("id_type")
        var val = sel.options[sel.selectedIndex].value

        if (val === "Plastik") {
            $(`#id_size option[value='${psize1}']`).prop('disabled', false);
            $(`#id_size option[value='${psize2}']`).prop('disabled', false);
            $(`#id_size option[value='${psize3}']`).prop('disabled', false);
            $(`#id_size option[value='${psize4}']`).prop('disabled', false);
            $(`#id_size option[value='${psize5}']`).prop('disabled', false);
            $(`#id_size option[value='${psize6}']`).prop('disabled', false);
            $(`#id_size option[value='${psize7}']`).prop('disabled', false);
            $(`#id_size option[value='${psize8}']`).prop('disabled', false);
            $(`#id_size option[value='${psize9}']`).prop('disabled', false);
            $(`#id_size option[value='${psize10}']`).prop('disabled', false);
            $(`#id_size option[value='${psize11}']`).prop('disabled', false);
            $(`#id_size option[value='${psize12}']`).prop('disabled', false);
            $(`#id_size option[value='${psize13}']`).prop('disabled', false);
            $(`#id_size option[value='${psize14}']`).prop('disabled', false);
            $(`#id_size option[value='${psize15}']`).prop('disabled', false);
            $(`#id_size option[value='${psize16}']`).prop('disabled', false);
            $(`#id_size option[value='${msize1}']`).prop('disabled', true);
            $(`#id_size option[value='${msize2}']`).prop('disabled', true);
            $(`#id_size option[value='${msize3}']`).prop('disabled', true);
            $(`#id_size option[value='${msize4}']`).prop('disabled', true);
            $(`#id_size option[value='${msize5}']`).prop('disabled', true);
            $(`#id_size option[value='${msize6}']`).prop('disabled', true);
            $(`#id_size option[value='${msize7}']`).prop('disabled', true);
        } else if (val === "Metal") {
            $(`#id_size option[value='${psize1}']`).prop('disabled', true);
            $(`#id_size option[value='${psize2}']`).prop('disabled', true);
            $(`#id_size option[value='${psize3}']`).prop('disabled', true);
            $(`#id_size option[value='${psize4}']`).prop('disabled', true);
            $(`#id_size option[value='${psize5}']`).prop('disabled', true);
            $(`#id_size option[value='${psize6}']`).prop('disabled', true);
            $(`#id_size option[value='${psize7}']`).prop('disabled', true);
            $(`#id_size option[value='${psize8}']`).prop('disabled', true);
            $(`#id_size option[value='${psize9}']`).prop('disabled', true);
            $(`#id_size option[value='${psize10}']`).prop('disabled', true);
            $(`#id_size option[value='${psize11}']`).prop('disabled', true);
            $(`#id_size option[value='${psize12}']`).prop('disabled', true);
            $(`#id_size option[value='${psize13}']`).prop('disabled', true);
            $(`#id_size option[value='${psize14}']`).prop('disabled', true);
            $(`#id_size option[value='${psize15}']`).prop('disabled', true);
            $(`#id_size option[value='${psize16}']`).prop('disabled', true);
            $(`#id_size option[value='${msize1}']`).prop('disabled', false);
            $(`#id_size option[value='${msize2}']`).prop('disabled', false);
            $(`#id_size option[value='${msize3}']`).prop('disabled', false);
            $(`#id_size option[value='${msize4}']`).prop('disabled', false);
            $(`#id_size option[value='${msize5}']`).prop('disabled', false);
            $(`#id_size option[value='${msize6}']`).prop('disabled', false);
            $(`#id_size option[value='${msize7}']`).prop('disabled', false);
        } else {
            $(`#id_size option[value='${psize1}']`).prop('disabled', true);
            $(`#id_size option[value='${psize2}']`).prop('disabled', true);
            $(`#id_size option[value='${psize3}']`).prop('disabled', true);
            $(`#id_size option[value='${psize4}']`).prop('disabled', true);
            $(`#id_size option[value='${psize5}']`).prop('disabled', true);
            $(`#id_size option[value='${psize6}']`).prop('disabled', true);
            $(`#id_size option[value='${psize7}']`).prop('disabled', true);
            $(`#id_size option[value='${psize8}']`).prop('disabled', true);
            $(`#id_size option[value='${psize9}']`).prop('disabled', true);
            $(`#id_size option[value='${psize10}']`).prop('disabled', true);
            $(`#id_size option[value='${psize11}']`).prop('disabled', true);
            $(`#id_size option[value='${psize12}']`).prop('disabled', true);
            $(`#id_size option[value='${psize13}']`).prop('disabled', true);
            $(`#id_size option[value='${psize14}']`).prop('disabled', true);
            $(`#id_size option[value='${psize15}']`).prop('disabled', true);
            $(`#id_size option[value='${psize16}']`).prop('disabled', true);
            $(`#id_size option[value='${msize1}']`).prop('disabled', true);
            $(`#id_size option[value='${msize2}']`).prop('disabled', true);
            $(`#id_size option[value='${msize3}']`).prop('disabled', true);
            $(`#id_size option[value='${msize4}']`).prop('disabled', true);
            $(`#id_size option[value='${msize5}']`).prop('disabled', true);
            $(`#id_size option[value='${msize6}']`).prop('disabled', true);
            $(`#id_size option[value='${msize7}']`).prop('disabled', true);
            $(`#id_size option[value='']`).prop('selected', true);
        };
    });
</script>
{% endblock content %}